li{
	list-style:none;
}
.post{
	
}
.post li{
		margin:20 0 50 0;
}

.heading{
	text-align:center;
}
.jumbotron{
	background-color: #16a085;
	color:#ecf0f1;
	padding-top:70px;
	padding-bottom:90px;
}
body{
	background-color: #ecf0f1;
}
.footer{
	background-color: #2c3e50;
	padding:60px;
	color: #ecf0f1;
}
.footer p{

	font-size: 0.7em;
}